<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Semana8_Formulario_login_usuario.Properties.Settings.sistema_mdbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\sistema.mdb.mdb"
            providerName="System.Data.OleDb" />
        <add name="Semana8_Formulario_login_usuario.Properties.Settings.agendaConnectionString"
            connectionString="server=localhost;user id=dba;password=12345;persistsecurityinfo=True;database=agenda"
            providerName="MySql.Data.MySqlClient" />
        <add name="Semana8_Formulario_login_usuario.Properties.Settings.contactosConnectionString"
            connectionString="server=localhost;user id=dba;password=12345;database=contactos"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>